@import "normalize-css/normalize";

$serif: 'alegreya', serif;
$serif-sc: 'alegreya-sc', serif;

$grey: #aaa;
$light-grey: #eee;

%small-caps {
  font-family: $serif-sc; text-transform: lowercase; font-weight: normal;
  i { font-family: $serif; font-style: italic; font-size: 90%; margin-left: .1em; margin-right: .1em; }
}

html { font-family: 'alegreya', serif; color: $grey; text-rendering: optimizeLegibility; }

* { box-sizing: border-box; }

hr { border: none; border-top: 1px solid $light-grey; width: 100%; margin: 0; padding: 0; }

form {
  input, button { padding: 8px 10px; width: 100%; }
  input { border: 4px solid $light-grey; }
  button { border: none; background: $light-grey; color: #999; text-align: center; text-transform: uppercase; font-family: $serif-sc; font-size: 14px; text-transform: uppercase; }
  > * + * { margin-top: 10px; }
}

#header, main, body > footer { max-width: 1300px; margin-left: auto; margin-right: auto; }

#header {
  margin-top: 50px; margin-bottom: 50px; line-height: 1;
  h1 {
    text-align: center;
    img { width: 400px; max-width: 400px; }
  }
}

%display-table {
  display: table; border-collapse:collapse;
  > * {
    display: table-row;
    > * {
      display: table-cell;
      vertical-align: top;
      padding: 50px;
      width: 50%;
      + * { border-left: 1px solid $light-grey; }
    }
  }
}

.feature {
  > aside, > aside + * {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: left;
    > :first-child { margin-top: 0; }
  }
  > aside {
    text-align: center; font-size: 14px;
    p { margin: 15px 0; }
    p + p { margin-top: -10px; }
  }
  > aside.image {
    img, svg { width: 100%; max-width: 160px; }
  }
  > div.text {
    h3 { font-family: $serif-sc; font-weight: normal; text-transform: lowercase; font-size: 100%; margin: 0 0 10px; }
    h3 + p { margin-top: 0; }
    p + h3 { margin-top: 25px; }
  }
  h2 {
    text-align: center; font-size: 21px; @extend %small-caps; margin-bottom: 50px; color: $grey;
    span {
      display: block;
    }
  }
}

body > footer > div {
  @extend %display-table;
  > div:first-child > * { border-top: none; }
  > div > * { border-top: 1px solid $light-grey; }
}

main section.home {
  div.thumbnails {
    $size: 216px; line-height: 0; margin: 20px 0;
    a {
      -webkit-transition: 200ms;
      -webkit-filter: grayscale(100%);
      &:hover { -webkit-filter: grayscale(0%); }
      img { width: $size; height: $size; padding: 5px; }
    }
  }
}

section#project {
  width: 100%;
  .about, .photos {
    padding: 50px;
    display: block;
  }
  .about {
    width: 30%;
    float: right;
    padding-left: 0;
    vertical-align: top;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    h2 {
      font: 300 36px $serif;
      line-height: 1;
      margin: 0 0 .5em;
      text-align: left;
      text-transform: none;
      &:before {
        content: 'Project';
        display: block;
        $grey: #aaa;
        text-transform: lowercase;
        font: 18px $serif-sc;
        line-height: 1;
      }
    }
    .next-project a {
      display: block;
      margin-top: 50px;
      text-decoration: none;
      h3 { font-family: $serif-sc; font-weight: normal; text-transform: lowercase; font-size: 100%; margin: 0; color: $grey; }
      span { font-size: 150%; text-decoration: underline; }
    }
  }
  .photos {
    width: 70%;
    img { margin: 0; padding: 3px 5px; }
    img.full { width: 100%; }
    img.half { width: 50%; }
    img.third { width: 33.333333%; }
  }
}

.flourish {
  padding: 100px 0 133px 0;
  text-align: center;
}