$serif: 'alegreya', serif;
$serif-sc: 'alegreya-sc', serif;

$grey: #aaa;
$light-grey: #eee;

%small-caps {
  font-family: $serif-sc; text-transform: lowercase; font-weight: normal;
  i { font-family: $serif; font-style: italic; font-size: 90%; margin-left: .1em; margin-right: .1em; }
}

html { font-family: 'alegreya', serif; color: $grey; text-rendering: optimizeLegibility; }

* { box-sizing: border-box; }

hr { border: none; border-top: 1px solid $light-grey; width: 100%; margin: 0; padding: 0; }

form {
  input, button { padding: 8px 10px; width: 100%; }
  input { border: 4px solid $light-grey; }
  button { border: none; background: $light-grey; color: #999; text-align: center; text-transform: uppercase; font-family: $serif-sc; font-size: 14px; text-transform: uppercase; }
  > * + * { margin-top: 10px; }
}

#header, #main { max-width: 1300px; margin-left: auto; margin-right: auto; }

#header {
  margin-top: 50px; margin-bottom: 50px; line-height: 1;
  h1 {
    text-align: center;
    img { width: 400px; max-width: 400px; }
  }
}

#main {
  display: table; border-collapse:collapse;
  > div {
    display: table-row;
    > section { display: table-cell; width: 50%; vertical-align: top; }
  }
  section {
    padding: 50px;
    h2 {
      text-align: center; font-size: 21px; @extend %small-caps; margin-bottom: 50px; color: $grey;
      span {
        display: block;
      }
    }
    > aside, > aside + div {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      > :first-child { margin-top: 0; }
    }
    > aside {
      width: 43%; padding-right: 7%; text-align: center; font-size: 14px;
      p { margin: 15px 0; }
      p + p { margin-top: -10px; }
      img, svg { width: 100%; max-width: 160px; }
    }
    > div {
      h3 { font-family: $serif-sc; font-weight: normal; text-transform: lowercase; font-size: 100%; margin-top: 25px; }
    }
    div.thumbnails {
      $size: 134px;
      img { width: $size; height: $size; }
    }
    @media (max-width: 400px) {
      > aside, > aside + div {
        width: 95%; padding-left: 5%; padding-right: 5%;
      }
      > aside {
        margin-bottom: 15px;
      }
    }
  }
  section + section {
    border-left: 1px solid $light-grey;
  }
  > div + div {
    section { border-top: 1px solid $light-grey; }
  }

  @media (max-width: 700px) {
    display: block;
    > div {
      display: block;
      > section { display: block; width: 80%; padding-left: 10%; padding-right: 10%; }
    }
    section + section { border: none; border-top: 1px solid $light-grey; }
  }
}

#footer {
  padding: 100px 0 150px 0; text-align: center; border-top: 1px solid $light-grey;
}