@import "normalize";

$serif: 'Archer SSm A', 'Archer SSm B', serif;
$serif-sc: 'Archer SSm Smallcaps A', 'Archer SSm Smallcaps B', serif;
$display-font: 'Sentinel A', 'Sentinel B', 'Helvetica Nueue', sans-serif;

$dark-grey: #222;
$grey: #999;
$light-grey: #ddd;

$input-border-color: $light-grey;
$input-border-color-hover: darken($light-grey, 5%);
$input-border-color-focus: darken($light-grey, 12%);

$link-color: $dark-grey;
$link-underline-color: $light-grey;
$link-underline-color-hover: $grey;
$link-color-hover: darken($dark-grey, 10%);

$text-color: $grey;

$display-heading-color: $dark-grey;

%transition {
  transition: all 200ms;
}

%small-caps {
  font-family: $serif-sc; text-transform: lowercase; font-weight: 500;
  i { font-family: $serif; font-style: italic; font-size: 80%; margin-left: .1em; margin-right: .1em; }
}

%display-table {
  display: table; border-collapse:collapse;
  > * {
    display: table-row;
    > * {
      display: table-cell;
      vertical-align: top;
      padding: 50px 5%;
      width: 50%;
      + * { border-left: 1px solid $light-grey; }
      @media (max-width: 950px) {
        display: block; width: 100%; padding-left: 0; padding-right: 0;
        + * { border-left: none; border-top: 1px solid $light-grey; }
      }
    }
  }
}

@mixin high-dpi {
  @media (-webkit-min-device-pixel-ratio: 2), /* Webkit */
         (min-resolution: 192dpi)             /* Everyone else */ {
    @content;
  }
}

@keyframes bounce {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-6px);}
}
@keyframes shadow-bounce {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-2px);}
}

%bounce {
  animation: .5s bounce both infinite;
  /* Fix flicker on animation start in Chrome */
  backface-visibility: hidden;
}
%shadow-bounce {
  animation: .5s shadow-bounce both infinite;
  /* Fix flicker on animation start in Chrome */
  backface-visibility: hidden;
}

.sticky_decoy.invisible {
  display: none !important;
}

.sticky {
  position: fixed;
  top: 0px;
}

.sticky_bottom {
  position: absolute;
  bottom: 0px;
  top: auto;
}

html {
  font-family: $serif; line-height: 1.8; font-size: 15px; color: $text-color; text-rendering: optimizeLegibility;
}

body {
  padding: 20px 40px;
  @media (max-width: 950px) { padding: 10px 20%; }
  @media (max-width: 500px) { padding: 10px 6%; }
}

* { box-sizing: border-box; }

hr { border: none; border-top: 1px solid $light-grey; width: 100%; margin: 0; padding: 0; }

form {
  input, button {
    padding: 8px 10px;
    width: 100%;
    @extend %transition;
    &:focus { outline: none; }
  }
  input {
    font-size: 14px;
    border: 2px solid $input-border-color;
    box-shadow: none;
    -webkit-appearance: none;
    &:hover { border-color: $input-border-color-hover; }
    &:focus, &:active { border-color: $input-border-color-focus; }
  }
  button {
    border: none;
    background: $input-border-color;
    color: #999;
    @extend %small-caps;
    text-align: center;
    padding: 10px 0;
    &:hover { background-color: $input-border-color-hover; color: $link-color-hover; }
    &:active, &:focus { background-color: $input-border-color-focus; }
  }
  > * + * { margin-top: 10px; }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $link-underline-color;
  @extend %transition;
  &:hover, &:active { color: $link-color-hover; border-bottom-color: $link-underline-color-hover; }
}

%image-link {
  &, &:hover { border-bottom: none; }
  img { border: 1px solid rgba(0,0,0,.15); @extend %transition; }
  &:hover img { border-color: rgba(0,0,0,.3); opacity: .9; }
}

.top-header, main, body > footer, body > nav { max-width: 1400px; margin-left: auto; margin-right: auto; }

.top-header {
  margin-top: 50px; margin-bottom: 50px; line-height: 1;
  @media (max-width: 950px) { margin-top: 40px; }
}

.top-header--logo {
  text-align: center;
  a {
    display: inline-block;
    padding: 10px;
    width: 75%; max-width: 375px;
    @media (max-width: 950px) { width: 95%; }
    &, &:hover { border-bottom: none; }
  }
  img {
    width: 100%;
  }
}

.top-header--nav {
  ol, li { list-style: none; padding: 0; margin: 0; }
  ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  li { margin: 10px; }
  a {
    border-bottom: none;
    &.active svg             { fill: #FF5E79; }
    &:hover:not(.active) svg { fill: #19a7a9; }
  }
  svg { height: 25px; fill: black; }
}

.feature {
  > aside, > aside + * {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: left;
    @media (max-width: 950px) {
      display: block;
      width: 100%;
      text-align: center;
      p.text { text-align: left; }
    }
    > :first-child { margin-top: 0; }
  }
  > aside {
    text-align: center; font-size: 14px;
    p { margin: 15px 0; }
    p + p { margin-top: -10px; }
  }

  > aside.image {
    width: 100%; max-width: 200px; margin-right: 40px;
    @media (max-width: 1300px) { max-width: 135px; }
    @media (max-width: 950px) { max-width: 175px; margin: 0 auto 20px auto; }
    > img, > .icon { width: 100%; border-radius: 50%; }
    > .icon {
      background-color: $light-grey; display: inline-block;
    }
  }
  > div.text {
    h3 { @extend %small-caps; font-size: 100%; margin: 0 0 10px; }
    h3 + p { margin-top: 0; }
    p + h3 { margin-top: 25px; }
  }
  h2 {
    text-align: center; font-size: 21px; @extend %small-caps; margin-bottom: 50px; color: $text-color;
    span {
      display: block;
    }
  }
}

.feature.about aside {
  p { margin-bottom: 12px; }
  p.title { font-family: $serif-sc; text-transform: lowercase; line-height: 1.2; }
}

.feature.contact {
  @media (max-width: 950px) { border-top: 1px solid $light-grey; }
  > aside.image { max-height: 200px; }
  a.icon {
    position: relative;
    background: url(https://a.tiles.mapbox.com/v3/toolmantim.map-fu86hyqj/144.95954081799300,-37.77381393618836,15/200x200.png) center center;
    border-bottom: none;
    @include high-dpi {
      background: url(https://a.tiles.mapbox.com/v3/toolmantim.map-fu86hyqj/144.95954081799300,-37.77381393618836,15/200x200@2x.png) center center;
      background-size: 100% 100%;
    }
    @media (max-width: 1300px) {
      max-width: 135px; max-height: 135px;
      background: url(https://a.tiles.mapbox.com/v3/toolmantim.map-fu86hyqj/144.95954081799300,-37.77381393618836,15/135x135.png) center center;
      @include high-dpi {
        background: url(https://a.tiles.mapbox.com/v3/toolmantim.map-fu86hyqj/144.95954081799300,-37.77381393618836,15/135x135@2x.png) center center;
      }
    }
    @media (max-width: 950px) {
      max-width: 175px; max-height: 175px;
      background: url(https://a.tiles.mapbox.com/v3/toolmantim.map-fu86hyqj/144.95954081799300,-37.77381393618836,15/175x175.png) center center;
      @include high-dpi {
        background: url(https://a.tiles.mapbox.com/v3/toolmantim.map-fu86hyqj/144.95954081799300,-37.77381393618836,15/175x175@2x.png) center center;
      }
    }
    img.pin, img.shadow { width: 100%; height: 100%; }
    img.pin {
      z-index: 2; position: relative;
      @media (max-width: 1300px) { max-width: 135px; max-height: 135px; }
      @media (max-width: 950px) { max-width: 175px; max-height: 175px; }
    }
    img.shadow { position: absolute; top: 0; left: 0; opacity: .2; z-index: 1; filter: blur(1px); }
    &:hover {
      border-bottom: none;
      img.pin    { @extend %bounce; }
      img.shadow { @extend %shadow-bounce; }
    }
  }
}

.feature.mailing-list, .feature.connect {
  padding-bottom: 100px;
  @media (max-width: 950px) { padding-bottom: 50px; }
}

.feature.mailing-list {
}

.feature.connect {
  vertical-align: middle; text-align: center;
  .links {
    span {
      display: block; margin-bottom: 20px;
      a {
        @extend %small-caps; margin-left: 10px; margin-right: 14px; line-height: 50px; line-height: 1;
      }
    }
  }
  .instagrams {
    margin-top: 25px;
    a {
      @extend %image-link;
      img { width: 75px; height: 75px; }
    }
  }
}

body > footer > div {
  @extend %display-table;
  > div:first-child > * {
    border-top: none;
  }
  > div > * { border-top: 1px solid $light-grey; }
}

section#home {
  div.thumbnails {
    $size: 350px; line-height: 0; margin: 20px auto; text-align: center;
    &.thumbnail-count-9 { max-width: $size * 3; }
    &.thumbnail-count-15 { max-width: $size * 3; }
    a {
      @extend %transition; display: inline-block; border-bottom: none; position: relative;
      @extend %image-link;
      @media (max-width: 500px) { display: block; width: 100%; }
      img {
        width: $size - 10px; height: $size - 10px; margin: 5px;
        @media (max-width: 950px) { width: 100%; height: auto; margin: 5px 0; }
      }
    }
  }
}

.workshops__cities {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
a.workshops__cities__city {
  border: none;
  text-align: center;
  margin: 20px 10px;
  @extend %transition;
  color: rgba(255,255,255,.75);
  &:hover .workshops__cities__city__circle {
    background-color: #19a7a9;
  }
  .workshops__cities__city__circle {
    $size: 350px;
    width: $size - 10px;
    height: $size - 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @extend %transition;
    img {
      border: none;
      margin: 0 50px;
      margin-bottom: 10px;
      width: auto;
    }
    .workshops__cities__city__circle__words {
      font-size: 14px;
      line-height: 1.5;
      strong {
        font-weight: normal;
        color: white;
        font-size: 18px;
      }
      .sold-out {
        @extend %small-caps;
        display: inline-block;
        font-size: 18px;
        margin-top: 10px;
        border-top: 1px solid rgba(255,255,255,.5);
      }
    }
  }
}

section#project {
  width: 100%;
  > div { position: relative; }
  .about, .photos {
    padding: 50px;
    display: block;
  }
  .about {
    width: 28%;
    float: right;
    padding-left: 0;
    vertical-align: top;
    top: -20px;
    &.sticky { left: 72%; }
    &.sticky_bottom { top: inherit; }
    h2 {
      font: 300 36px/1.1 $display-font;
      color: $display-heading-color;
      margin: .25em 0 .5em;
      text-align: left;
      text-transform: none;
    }
    blockquote {
      margin: 0; padding: 0; font-style: italic; font-size: 14px; margin-top: 1.5em; width: 90%;
      &:first-letter {
        margin-left: -.3em;
      }
    }
    .next-project {
      margin-top: 40px;
      a {
        border-bottom: none;
        h3 { font: 100% normal $serif-sc; text-transform: lowercase; margin: 0; color: $text-color; margin-bottom: 5px; display: block; }
        span { font: 300 24px $display-font; color: $display-heading-color; border-bottom: 1px solid $link-underline-color; }
        &:hover span { border-bottom-color: $link-underline-color-hover; }
      }
    }
  }
  .photos {
    width: 72%;
    img {
      margin: 0; padding: 3px 5px;
      @media (max-width: 950px) { padding: 0; }
    }
    img.full { width: 100%; }
    img.half { width: 50%; }
    img.third { width: 33.333333%; }
  }
  @media (max-width: 950px) {
    .about, .photos { width: 100%; padding: 0; }
    .about {
      position: relative; float: none; top: 0;
      h2 { padding-top: 1em; }
      h2, .next-project { text-align: center; }
      .next-project { margin-bottom: 40px; }
    }
    .photos {
      margin: 20px 0;
      img { width: 100%; }
      img.full { width: 100%; }
      img.half { width: 100%; }
      img.third { width: 100%; }
    }
  }
}

section#about-us, section#online-course {
  h1, h2 {
    font: 300 36px $display-font;
    color: $display-heading-color;
    line-height: 1;
  }
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
    img { width: 45%; }
  }
  h2 { font-size: 28px; margin-top: 1.5em; }
  > .photos, > .text {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    vertical-align: top;
    margin: 80px 0;
    @media (max-width: 950px) { display: block; width: 100%; margin: 40px 0; padding: 0; }
  }
  > .photos {
    padding-right: 30px;
    @media (max-width: 950px) { padding-right: 0; }
    img {
      width: 100%; margin-top: 20px;
      &:first-child { margin-top: 0; }
    }
  }
  > .text {
    top: 40px;
    font-size: 15px; line-height: 1.8;
    > *:first-child { margin-top: 0; }
    ul { padding-left: 1.3em; }
  }
}

section#online-course {
  h1 a {
    border: none;
    img { width: 85%; }
  }
  .photos {
    a { border: none; }
    img { border: 1px solid $light-grey; padding: 10px; }
  }
}

section#workshops {
  h1, h2 {
    font: 300 36px $display-font;
    color: $display-heading-color;
    line-height: 1;
  }
  h2 { font-size: 28px; margin-top: 1.5em; }
  .more-info {
    display: flex;
    @media (max-width: 950px) { display: block; }
    &:nth-child(odd) {
      > .photos { order: 1; }
      > .text { order: 0; }
    }
    > .photos, > .text {
      flex: 1;
      padding-left: 50px;
      padding-right: 50px;
      margin: 80px 0;
      @media (max-width: 950px) { margin: 40px 0; padding: 0; }
    }
    > .photos {
      padding-right: 30px;
      @media (max-width: 950px) { padding-right: 0; }
      img {
        width: 100%; margin-top: 20px;
        &:first-child { margin-top: 0; }
      }
    }
    > .text {
      top: 40px;
      font-size: 15px; line-height: 1.8;
      > *:first-child { margin-top: 0; }
      ul { padding-left: 1.3em; }
    }
  }
}

section#desktops {
  text-align: center; max-width: 800px; margin: 0 auto;
  h1 {
    margin: 2em 0 0 0;
    font: 300 36px $display-font;
    color: $display-heading-color;
    line-height: 1.3;
    text-align: center;
    @media (max-width: 500px) { font-size: 28px; margin-top: 1.5em; }
  }
  .desktops, .desktop { list-style: none; padding: 0; margin: 0; }
  .desktop {
    margin: 3em 0;
    @media (max-width: 500px) { margin: 2em 0; }
    h2 {
      font-size: 24px;
      @media (max-width: 500px) { font-size: 21px; }
    }
    a {
      display: block; @extend %image-link;
      img { width: 100%; }
    }
  }
}

section.workshop {

  img, video { width: 100%; }
  hr { margin: 20px 0; }
  h1 { margin-top: 20px; }
  ul, ol { padding-left: 1.5em; }
  .tagline {
    margin: 100px auto; line-height: 1.2; text-align: center; max-width: 21em;
    @media (max-width: 600px) { margin: 50px auto; }
    .city {
      font-size: 48px;
      font-weight: normal;
      color: black;
      margin: 0;
      @media (max-width: 600px) { font-size: 32px; }
    }
    .date {
      font-size: 18px;
      margin: 25px 0 0 0;
      color: $grey;
      font-style: italic;
      font-weight: normal;
      display: inline-block;
      border-top: 1px solid $light-grey;
      padding-top: 15px;
    }
    .type {
      font-size: 21px;
      margin: 5px 0 0 0;
      color: black;
      font-style: italic;
      font-weight: normal;
    }
  }
  .outer {
    .photos, .details {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      margin-top: 20px;
      margin-bottom: 40px;
      @media (max-width: 950px) { display: block; width: 100%; padding: 0; }
    }
  }
  .photos {
    padding-right: 25px;
  }
  .details {
    padding-left: 25px;
    line-height: 1.65;

    h3 { @extend %small-caps; color: black; margin-top: 30px; }
    a.image { border: none; }
    i.cost { font-size: 125%; font-style: normal; color: $dark-grey; }
    li { margin-top: 10px; margin-bottom: 5px; }

    .sell {
      color: black;
      font-size: 21px;
      line-height: 1.4;
      margin-top: 0;
      .minor { font-size: 16px; }
      .price { font-size: 38px; }
      .currency-note { font-size: 16px; font-style: italic; }
      .second-tier-pricing {
        .price { font-size: 24px; }
      }
    }

    .top-details {
      color: black;
      strong { display: block; margin-top: 10px; }
      p { margin: 5px 0; }
    }

    .teacher {
      img.barbara-headshot {
        max-width: 168px; float: left; margin-right: 20px; margin-bottom: 15px; padding: 5px; border: 1px solid $light-grey;
        @media (max-width: 600px) { float: none; margin-left: auto; margin-bottom: 0; }
      }
    }

    .testimonials p {
      font-style: italic;
      border-left: 10px solid #f8f8f8;
      padding-left: 20px;
    }

    .book {
      margin: 20px 0 40px 0;
      text-align: center;
      p { margin-top: 30px; margin-bottom: 10px; }
      p.info { margin-top: 10px; text-align: left; }
      p + p.info { margin-bottom: 30px; }
      a.button {
        display: block;
        background: #19a7a9;
        color: #D9FFFF;
        outline: none;
        border: none;
        border-radius: 5px;
        @extend %small-caps;
        font-size: 125%;
        font-weight: bold;
        padding: 15px 20px;
        width: 100%;
        text-align: left;
        position: relative;
        &:after { float: right; content: '>'; color: #D9FFFF; font-weight: bold; font-size: 200%; line-height: 1; }
        i, .date { color: hsl(0,0,20%); font-weight: normal; }
        &:hover, &:active { background-color: #0A8486; }

        &.sold-out {
          background: rgb(255,210,200);
          text-align: center;
          &, * { color: rgb(200,90,80); }
          &:after { display: none; }
          &:hover, &:active { background-color: rgb(255,210,200); }
        }
        @media (max-width: 600px) { font-size: 100%; }
      }
    }

    img.craft-cubed { max-width: 150px; }
  }
  .other-workshops {
    border-top: 1px solid $light-grey;
    padding-top: 40px;
  }
  .other-workshops h2 {
    text-align: center;
    font-weight: normal;
    color: black;
    margin-bottom: -20px;
  }
}

section#workshop-booking-complete {
  text-align: center; padding: 2em 0;
  h1 {
    width: 60%; margin: 75px auto;
    @media (max-width: 900px) { width: 70%; margin-top: 60px; margin-bottom: 60px; }
    @media (max-width: 700px) { width: 80%; margin-top: 50px; margin-bottom: 50px; }
    @media (max-width: 600px) { width: 90%; margin-top: 20px; margin-bottom: 20px; }
    img { max-width: 100%; }
  }
  p {
    font-size: 125%; margin: 1em auto; max-width: 30em;
    &.woot { font-size: 200%; font-style: italic; line-height: 1.4; }
    @media (max-width: 600px) { font-size: 110%; }
  }
}
