<h3>What will you learn?</h3>
<ul>
  <li>This one day workshop focuses on script lettering which is an ideal taster for our full weekend workshop or precursor to our Showcard workshop.</li>
  <li>You’ll learn the basic strokes needed to gain control of the brush to create various script lettering as well as working with the paint consistency and flow.</li>
  <li>See inspiring demonstrations of Barbara's master brush skills.</li>
  <li>Barbara will assist everyone to make sure they feel comfortable holding and manipulating the brush and encourage you to develop your own individuality when lettering with a&nbsp;brush.</li>
</ul>

<h3>Who is this for?</h3>
<ul>
  <li>Anyone and everyone who has an interest in lettering! We’ll be starting with the basics so we can achieve a good understanding of brush lettering techniques. Complete beginners welcome. No&nbsp;experience&nbsp;necessary!</li>
</ul>

<h3>What will you take away?</h3>
<ul>
  <li>Your very own Brush Lettering Kit including a special lettering brush and practice guides, all in a personalised folder hand lettered by&nbsp;Barbara.</li>
  <li>All of your work from the day plus a final project demonstrating your&nbsp;skills.</li>
  <li>Lots of hands-on experience under one-on-one guidance from a master letterer to inspire your ongoing&nbsp;practice.</li>
  <li>A day of switching off from the computer, hearing Barbara’s fascinating lettering stories and insights, making new friends, and discussion about how to make a career out of &nbsp;lettering.</li>
  {{#if includesFreeLearnBrushLettering}}
    <li>Free access (worth US$299) to learnbrushlettering.com, and the private Facebook group, so you can continue your practice at home after the workshop with 12 days of videos and 35 guidesheets.</li>
  {{else}}
    <li>A US$100 discount to learnbrushlettering.com, and the private Facebook group, so you can continue your practice at home after the workshop with 12 days of videos and 35 guidesheets.</li>
  {{/if}}
  <li>Rad new skills to show off to your friends on Instagram.</li>
</ul>