<h3>What will you learn?</h3>
<ul>
  <li>This two-day introductory workshop will equip you with all the skills you need to create your own showcards and retail signs that hark back to an era when these were always hand painted. You’ll be working with a lettering brush and paint to create eye-catching showcards and posters for yourself and/or your clients.</li>

  <li>Barbara and Carla will take you through the basic lettering skills needed to write Casual and Script styles with the brush, before putting it into practice with layout, composition and decorative effects. You’ll be honing your letterforms through a hands-on process of practice, one-on-one critique and expert guidance from Barbara.</li>

</ul>

<h3>Who is this for?</h3>
<ul>
  <li>This workshop is suitable for all levels, however an interest in brush lettering and basic graphic design knowledge would be beneficial. More experienced brush letterers will benefit from learning new styles and techniques for their commercial and personal work such as signage and typographic art.</li>
</ul>

<h3>What will you take away?</h3>
<ul>
  <li>Your very own Brush Lettering Kit including a special lettering brush and practice guides, all in a personalised folder hand lettered by&nbsp;Barbara.</li>
  <li>All of your work from the weekend plus a final showcard demonstrating your&nbsp;skills.</li>
  <li>Lots of hands-on experience under one-on-one guidance from a master letterer to inspire your ongoing&nbsp;practice.</li>
  <li>A weekend of switching off from the computer, hearing Barbara’s fascinating lettering stories and insights, making new friends, and discussion about how to make a career out of &nbsp;lettering.</li>
  <li>Free access (worth US$299) to learnbrushlettering.com, and the private Facebook group, so you can continue your practice at home after the workshop with 12 days of videos and 35 guidesheets.</li>
  <li>Rad new skills to show off to your friends on Instagram.</li>
</ul>
