<h3>What will you learn?</h3>
<ul>
  <li>You’ll learn the basic strokes needed to gain control of the brushes to create various letter widths as well as working with the paint consistency and flow.</li>
  <li>Learn about brush types: round, square and pointed; and which are suited to the different lettering styles such as Casual and&nbsp;Script.</li>
  <li>See inspiring demonstrations of her master brush skills.</li>
  <li>Barbara will assist everyone to make sure they feel comfortable holding and manipulating the various brush sizes. She will encourage you to develop your own individuality when lettering with a&nbsp;brush.</li>
</ul>

<h3>Who is this for?</h3>
<ul>
  <li>Anyone and everyone who has an interest in lettering! We’ll be starting with the basics so we can achieve a good understanding of brush lettering techniques. Complete beginners welcome. No&nbsp;experience&nbsp;necessary!</li>
  <li>More experienced letterers wanting to learn new styles and techniques for their commercial and personal work such as logos, signage and typographic art&nbsp;pieces.</li>
</ul>

<h3>What will you take away?</h3>
<ul>
  <li>Your very own Brush Lettering Kit including a special lettering brush and practice guides, all in a personalised folder hand lettered by&nbsp;Barbara.</li>
  <li>All of your work from the weekend plus a final project demonstrating your&nbsp;skills.</li>
  <li>Lots of hands-on experience under one-on-one guidance from a master letterer to inspire your ongoing&nbsp;practice.</li>
  <li>A weekend of switching off from the computer, hearing Barbara’s fascinating lettering stories and insights, making new friends, and discussion about how to make a career out of &nbsp;lettering.</li>
  <li>A discount for our online course Learn Brush Lettering.</li>
  <li>Rad new skills to show off to your friends on Instagram.</li>
</ul>