<section id="about-us">
  <div class="photos">
    <img src="{{imageUrl "/images/about/Carla-Hackett.jpg"}}" alt="Photo of Carla" />
    <img src="{{imageUrl "/images/about/Carla-Hackett-Studio.jpg"}}" alt="Studio Detail" />
    <img src="{{imageUrl "/images/about/Carla-Hackett-Lettering.jpg"}}" alt="Chalk Lettering" />
    Studio detail photography by <a href="http://hilarywalker.com.au/">Hilary Walker</a>
  </div><div class="text">
    {{#markdown}}

# About

Operating out of a beautiful shared creative space in Melbourne, <span><a href="http://littlegoldstudios.com/">Little Gold Studios</a></span>, Carla hand-crafts lettering for a range of clients in creative industries, including fashion, music, food, branding, retail, hospitality, magazines, books, weddings and conferences.

After studying graphic design at university and six years’ working at some of Australia’s top agencies in Sydney, Carla escaped to Berlin to soak up some international inspiration and nurture her love of lettering and artisan design.

On returning from what she affectionately calls her “Bowie years” in Germany, Carla set up her studio with the aim of bringing a warm, unique, human element to a world dominated by digital fonts and design.

Carla loves slow food, coffee and travel, and has a worrying obsession with finding the world’s best gelati. When not laughing at cat videos on YouTube, she can be found riding her pink bicycle around the backstreets of Brunswick and Fitzroy pointing out beautiful vintage lettering to anyone who will listen.

Her most prized possession is a <span><a href="http://instagram.com/p/W2-76Hw8ht/">1959 Photo Lettering Catalogue</a></span> full of original hand-lettered typefaces.

<a href="/">Check out Carla‘s recent projects</a>

## Recent Press

* <a href="http://extracurricularmag.blogspot.com.au/2014/05/the-wild-free-issue.html">Extra Curricular Magazine, Issue 14, May 2014</a>
* <a href="http://stolenpublications.com/product/volume-two/">Stolen Magazine, Vol. 2, May 2014</a>
* <a href="http://www.frankie.com.au/current-issue/issue-59">Frankie Magazine, Issue 59, April 2014</a>
* <a href="http://gabrielletozer.com/bottom-rung-carla-hackett-letterer-illustrator-designer/">The Bottom Rung by Gabrielle Tozer, Jan 2014</a>
* <a href="http://www.creativewomenscircle.com.au/title-page-designer-carla-hackett/">Creative Women's Circle Title Page Interview, Jan 2014</a>
* <a href="http://www.creativewomenscircle.com.au/interview-carla-hackett-foxglove-lettering/">Creative Women's Circle Interview, Nov 2013</a>
* <a href="http://www.polkadotbride.com/2013/10/diy-professionals-carla-hackett-foxglove-lettering/">Polka Dot Bride, Oct 2013</a>
* <a href="http://extracurricularmag.blogspot.com.au/2013/09/dream-job-hand-letterer.html">Extra Curricular Magazine, Sept 2013</a>

## Studio Buddies

These are the lovely people I shared my days at <a href="http://littlegoldstudios.com/">Little Gold Studios</a> with:

* <a href="http://saintgertrude.com.au/">Saint Gertrude Letterpress</a>
* <a href="http://www.askalicestationery.com/">Ask Alice Stationery</a>
* <a href="http://retroprintrevival.com/">Retro Print Revival</a>
* <a href="http://smalltalkpr.com/">Small Talk</a>
* <a href="http://bitleague.co/">Bit League</a>
* <a href="http://www.lyndengare.com.au/">Lynden Gare</a>
* <a href="http://amelialeverdavidson.com/">Amelia Lever-Davidson</a>
* <a href="http://hilarywalker.com.au/">Hilary Walker</a>
* <a href="http://www.jaymecollins.com/">Jayme Collins</a>



    {{/markdown}}
  </div>
</section>
