<section class="about-us">
  <div class="photos">
    <img src="/images/about/Carla-Hackett.jpg" alt="Photo of Carla" />
    <img src="/images/about/Foxglove-Chalk.jpg" alt="Photo of Chalk" />
  </div><div class="text">
    <h1>About us</h1>
    {{#markdown}}

Foxglove Lettering is a boutique lettering and design studio run by Carla&nbsp;Hackett.

Based from the beautiful shared creative space Little&nbsp;Gold&nbsp;Studios in Melbourne, Foxglove produces beautifully detailed lettering for a range of creative clients including fashion, music, food, branding, retail, hospitality, magazines, books, weddings and conferences.

## Carla Hackett

After studying graphic design at CSU in Wagga Wagga, Carla spent 6 years in Sydney working at some of Australia’s top graphic design agenices. Returning from her “Bowie years” living in Berlin, Carla established Foxglove&nbsp;Lettering to bring a warm, unique, human element to a world dominated by digital fonts and design.

Carla loves slow food, coffee and travel, and has a worrying obsession with finding the world’s best gelati. When not laughing at cat videos on YouTube, Carla can be found riding her pink bicycle around the backstreets of Brunswick and Fitzroy pointing out beautiful vintage type to anyone who will listen.

Her most prized possession is a 1959 Photo Lettering Catalogue full of original hand lettered typefaces

    {{/markdown}}
  </div>
</section>
