<section id="about-us">
  <div class="photos">
    <img src="{{imageUrl "/images/about/Carla-Hackett.jpg"}}" alt="Photo of Carla" />
    <img src="{{imageUrl "/images/about/Foxglove-Chalk.jpg"}}" alt="Photo of Chalk" />
  </div><div class="text">
    {{#markdown}}

Operating out of a beautiful shared creative space in Melbourne, Little Gold Studios, Carla hand-crafts lettering for a range of clients in creative industries, including fashion, music, food, branding, retail, hospitality, magazines, books, weddings and conferences.

After studying graphic design at university and six years’ working at some of Australia’s top agencies in Sydney, Carla escaped to Berlin to soak up some international inspiration and nurture her love of lettering and artisan design.

On returning from what she affectionately calls her “Bowie years” in Germany, Carla set up her studio with the aim of bringing a warm, unique, human element to a world dominated by digital fonts and design.

Carla loves slow food, coffee and travel, and has a worrying obsession with finding the world’s best gelati. When not laughing at cat videos on YouTube, she can be found riding her pink bicycle around the backstreets of Brunswick and Fitzroy pointing out beautiful vintage lettering to anyone who will listen.

Her most prized possession is a <span><a href="http://instagram.com/p/W2-76Hw8ht/">1959 Photo Lettering Catalogue</a></span> full of original hand-lettered typefaces.

Carla tweets as [@canarycarla](https://twitter.com/canarycarla).
    {{/markdown}}
    <p class="back-to-projects"><a href="/">Check out Carla‘s recent projects</a></p>
  </div>
</section>
