<section id="desktops">
  <h1>Hand-crafted desktops with&nbsp;lols and&nbsp;♥</h1>
  <ol class="desktops">
    <li class="desktop">
      <h2>Hello Spring</h2>
      <a href="http://desktops.carlahackett.com/hello-spring.jpg">
        <img src="/images/desktop-thumbnails/hello-spring.jpg" alt="Hello Spring" />
      </a>
    </li>
    <li class="desktop">
      <h2>Coffee Time B**ches</h2>
      <a href="http://desktops.carlahackett.com/coffee-time.jpg">
        <img src="/images/desktop-thumbnails/coffee-time.jpg" alt="Coffee Time B**ches" />
      </a>
    </li>
  </ol>
</section>
