<section id="desktops">
  <h1>Hand-crafted desktops with&nbsp;lols and&nbsp;♥</h1>
  <ol class="desktops">
    <li class="desktop">
      <h2>Cats and Tay</h2>
      <a href="http://desktops.carlahackett.com/cats-and-taylor-swift.jpg">
        <img src="/images/desktop-thumbnails/cats-and-taylor-swift.jpg" alt="Cats and Tay" />
      </a>
    </li>
  </ol>
</section>
