<section id="home">
  <div class="thumbnails thumbnail-count-{{projectCount}}">
    <a href="https://learnbrushlettering.com/"><img src="{{imageUrl '/images/workshops/brush-lettering/cover.jpg?3'}}" alt="Learn Brush Lettering"></a>{{#projects}}<a href="projects/{{slug}}#project"><img src="{{imageUrl '/projects/' slug '/cover.jpg'}}"></a>{{/projects}}
  </div>
</section>
