<section id="home">
  <div class="thumbnails thumbnail-count-{{projects.length}}">
    <a href="/workshops/brush-lettering"><img src="{{imageUrl '/images/workshops/brush-lettering/cover.jpg'}}"></a>
    {{#projects}}<a href="projects/{{slug}}#project"><img src="{{imageUrl '/projects/' slug '/cover.jpg'}}"></a>{{/projects}}
  </div>
</section>
