<section class="home">
  <div class="thumbnails thumbnail-count-{{projects.length}}">
    {{#projects}}<a href="projects/{{slug}}#project"><img src="{{imageUrl '/projects/' slug '/cover.jpg'}}"></a>{{/projects}}
  </div>
</section>
