<section id="online-course">
  <div class="photos">
    <a href="https://learnbrushlettering.com/"><img src="{{imageUrl "/images/online-course/screenshot.jpg"}}" alt="Learn Brush Lettering" /></a>
  </div><div class="text">
    {{#markdown}}

    <h1><a href="https://learnbrushlettering.com/"><img src="{{imageUrl "/images/online-course/logo.svg"}}" alt="Learn Brush Lettering"></a></h1>

    Carla and Barbara created <a href="https://learnbrushlettering.com/">learnbrushlettering.com</a> as an online resource based off their successful 2-day Brush Lettering workshops for people to learn at home.

    Learn Brush Lettering’s mission is to teach the lost art of Brush Lettering and spur on a resurgence of hand-crafted, unique lettering that cannot be replicated by a typeface or font. Mastering this type of brush provides more versatility than other lettering tools, allowing you to create a chisel or pointed tip to achieve different lettering styles. Mastering the brush requires practice and patience, but with Barbara and Carla’s guidance you’ll have the confidence to start on your own lettering journey.

    All students that have participated in our in-person workshops get a special link to get $150 off the course price to continue their practice at home.

    Sign up and get the first two lessons for free:<br><a href="https://learnbrushlettering.com/">learnbrushlettering.com</a>

    {{/markdown}}
  </div>
</section>
