<section id="online-course">
  <div class="photos">
    <img src="{{imageUrl "/images/about/Carla-Hackett-Live.jpg"}}" alt="Carla Lettering" />
    Some photo description
    <img src="{{imageUrl "/images/about/Carla-Hackett-Live.jpg"}}" alt="Carla Lettering" />
    Some photo description
  </div><div class="text">
    {{#markdown}}

      <h1><img src="{{imageUrl "/images/header/online-course.svg"}}" alt="Online Course"></h1>

    Learn Brush Lettering’s mission is to teach the lost art of Brush Lettering and spur on a resurgence of hand-crafted, unique lettering that cannot be replicated by a typeface or font.

    Carla Hackett and Barbara Enright met back in 2013 and quickly bonded over their left-handedness and shared love of lettering. Carla, having just started her own lettering business, found in Barbara both a friend and inspiring mentor. Their collaboration has spanned commercial projects, group workshops, and has culminated in these online resources for everyone to access.

    Learn Brush Lettering provides unique training focused on using sable hair-based lettering brushes. Mastering this type of brush provides more versatility than other lettering tools, allowing you to create a chisel or pointed tip to achieve different lettering styles. Mastering the brush requires practice and patience, but with Barbara and Carla’s guidance you’ll have the confidence to start on your own lettering journey.

    Sign up to Learn Brush Lettering and watch the first 2 videos free. 

    * Your own personal log-in to LBL Online Academy, accessible from any device
    * 12 days of instructional video with inspiring demonstrations, guidance and tips
    * Your very own Size 5 professional Sable lettering brush posted to you
    * 35 downloadable PDF instructional alphabet guidesheets created just for this course
    * Resources list for brushes and equipment
    * Access to the private Facebook community where Barbara & Carla give you personalized feedback
    * Indefinite access to complete the course in your own time from anywhere in the world

    All students that have participated in our in-person workshops get a special link to get $150 off the course price to continue their practice at home. 

    {{/markdown}}
  </div>
</section>
