<section id="online-course">
  <div class="photos">
    <img src="{{imageUrl "/images/about/Carla-Hackett-Live.jpg"}}" alt="Carla Lettering" />
    Some photo description
    <img src="{{imageUrl "/images/about/Carla-Hackett-Live.jpg"}}" alt="Carla Lettering" />
    Some photo description
  </div><div class="text">
    {{#markdown}}

      <h1><img src="{{imageUrl "/images/header/online-course.svg"}}" alt="Online Course"></h1>

      (photos should be a couple of screenshots, and a behind-the-scenes photo)

      Tell them about the course, including a link. Tell them that about package discounts w/ workshops.

      * Benefits
      * That
      * It
      * Includes

      Call to action for online course.

      ## Behind the scenes

      Give them a look at what went into making it. This is more to give fodder to and journos/writers, because they'll read about the making of and maybe include the course in their story.

    {{/markdown}}
  </div>
</section>
