<section id="workshops">
  <div>
    <p><a href="/workshops/brush-lettering">Melbourne May 2017</a></p>
  </div>
  <hr>
  <div>
    <p>(grid of workshops)</p>
  </div>
  <hr>
  <div class="more-info">
    <div class="photos">
      Photo
    </div>
    <div class="text">
      {{#markdown}}
        ## Gift Vouchers
        
        ...
      {{/markdown}}
    </div>
  </div>
  <div class="more-info">
    <div class="photos">
      Photo
    </div>
    <div class="text">
      {{#markdown}}
        ## New Workshop Announcements
        
        We’re running new workshops all the time!

        Sign up to my mailing list, follow me on Facebook, or on Instagram, to know when upcoming workhops are announced.
        
        If you have more than 10 people, we might be able to visit your city! Send an email to.

        We also announce new workshops on <a href="https://www.facebook.com/carla.hackett.lettering">Facebook</a> and <a href="https://instagram.com/carlahackett">Instagram</a>
      {{/markdown}}
    </div>
  </div>
  <div class="more-info">
    <div class="photos">
      Photo
    </div>
    <div class="text">
      {{#markdown}}
        ## Private Group Lettering Workshops
        
        Whether it's giving your design team some inspiring time away from their screens, or ..., we can provide fun, fully prepared workshops that can leave your team inspired. Send an email to ... to request a private group workshop.
      {{/markdown}}
    </div>
  </div>
</section>
