<section id="workshops">
  {{> workshops/circles }}
  <hr>
  <div class="more-info">
    <div class="photos">
      <img src="{{imageUrl '/images/workshops/brush-lettering/gift-vouchers.jpg'}}">
    </div>
    <div class="text">
      {{#markdown}}
        ## Gift Vouchers

        We can create a customised PDF Gift Voucher for you to give to your recipient.

        Check our upcoming workshops for dates and send an email with your recipients name and which workshop they would like to attend to <a href="mailto:hello@carlahackett.com">hello@carlahackett.com</a>.

        Give the gift of lettering!
      {{/markdown}}
    </div>
  </div>
  <div class="more-info">
    <div class="photos">
      <img src="{{imageUrl '/images/workshops/brush-lettering/new-workshops.JPG'}}">
    </div>
    <div class="text">
      {{#markdown}}
        ## New Workshop Announcements

        To know when upcoming workshops are announced sign up to my mailing list, <a href="https://www.facebook.com/carla.hackett.lettering">follow me on Facebook</a>, or <a href="https://instagram.com/carlahackett">follow me on Instagram</a>.

        If you have more than 10 people send an email to <a href="mailto:hello@carlahackett.com">hello@carlahackett.com</a> and we might be able to visit your city!
      {{/markdown}}
    </div>
  </div>
  <div class="more-info">
    <div class="photos">
      <img src="{{imageUrl '/images/workshops/brush-lettering/in-house-lettering.jpg'}}">
    </div>
    <div class="text">
      {{#markdown}}
        ## In-house Lettering Workshops

        Whether it's giving your design team some inspiring time away from their screens, or some new skills to use in their day to day work, we can provide fun, tailored workshops that can leave your team inspired.

        Send an email to <a href="mailto:hello@carlahackett.com">hello@carlahackett.com</a> to request an in-house workshop for your team.
      {{/markdown}}
    </div>
  </div>
</section>
