<section id="workshop-booking-complete">
  <h1><img src="/images/workshops/thank-you.svg" alt="Thank You!" /></h1>
  <p class="woot">Yay, your workshop booking is&nbsp;complete!</p>
  <p>Spots are strictly limited, so if you’ve a friend who might want to join you then let them know before it sells out.</p>
  <p>We’ll be sending you another email with more details closer to the event. In the meantime, keep&nbsp;flourishing!</p>
</section>
