<section id="workshop-booking-complete">
  <h1><img src="/images/workshops/thank-you.svg" alt="Thank You!" /></h1>
  <p class="woot">Yay, your workshop booking is&nbsp;complete!</p>
  <p>Spots are strictly limited, so if you’ve a friend who might want to join you then let them know before it sells out. We’ll be sending you another email with more details closer to the event. In the meantime, keep&nbsp;flourishing!</p>
  <p><small>Note: If you bought this for someone else, please email their details to <a href="mailto:hello@carlahackett.com?subject=Workshop+booking+for+someone+else">hello@carlahackett.com</a> so we can personalise their lettering kit.</small></p>
</section>
