<section class="workshop" id="brush-lettering-workshop">
  <h1><img src="/images/workshops/brush-lettering/title.jpg" alt="Brush Lettering Workshop" /></h1>
  <hr>
  <div class="tagline">
    <h2>Learn your brush strokes from one of Australia’s most experienced letterers.</h2>
  </div>
  <hr>
  <div class="outer"><div class="photos">
      <img src="/images/workshops/brush-lettering/DSCF2469.jpg" alt="" />
      <img src="/images/workshops/brush-lettering/DSCF2475.jpg" alt="" />
      <img src="/images/workshops/brush-lettering/DSCF2526.jpg" alt="" />
      <img src="/images/workshops/brush-lettering/DSCF2546.jpg" alt="" />
      <img src="/images/workshops/brush-lettering/DSCF2549.jpg" alt="" />
      <img src="/images/workshops/brush-lettering/DSCF2531.jpg" alt="" />
    </div><div class="details">

      <p class="sell">Love those casual brush styles and the retro looking scripts all the cool kids are playing around with? Barbara Enright was lettering in this style way before it was cool on Instagram, and she wants to pass on her 47 years of lettering experience to the next generation of letterphiles.</p>

      <h3>What will you learn?</h3>
      <ul>
        <li>Working from basic letter construction, Barbara will give several demonstrations on the basic strokes needed to gain control of the brushes to create the various letter widths, as well as highlighting, shading and decorating. We'll learn about brush types – round, square and pointed, and lettering styles such as casual and script.</li>
        <li>Barbara will give inspiring demonstrations showing her master brush skills, and will assist everyone to make sure they feel comfortable holding and manipulating the various brush sizes. She will encourage you to develop your own individuality when lettering with a brush. 
</li>
        <li>This workshop is perfect for anyone and everyone who has an interest in lettering. We'll be starting with the basics so we can achieve a good understanding of brush lettering technniques. No experience painting letters with a brush necessary!</li>
        <li>More experienced letterers wanting to push their skills further will get a kick out of learning a new tool to add to their lettering kit for commercial and personal work such as logos, signage and typographic art pieces.</li>
        <li>As well as playing with the traditional ticket writing brushes and acrylic paint, we will be experimenting with Pentel and Copic brush markers to create lettering. You can bring along any pens you want to play with too.</li>
      </ul>

      <h3>What will you take away?</h3>
      <ul>
        <li>Rad new skills to show off to your friends on Instagram.</li>
        <li>Along with materials on the day you will take home your very own Brush Lettering Kit which includes a brush and practice guides all in a personalised folder hand lettered by Barbara.</li>
        <li>A yummy vegan lunch, afternoon cupcakes and an endless supply of cups of tea.</li>
        <li>All of your work from the weekend plus a final project demonsrating your skills.</li>
        <li>Lots of hands-on experience under one-on-one guidance from a master letterer to take away for your ongoing practice.</li>
        <li>A weekend of switching off from the computer, hearing Barbara's fascinating lettering stories and insights from her long career, meeting new lettering friends and chats about how to make a career out of lettering.</li>


      </ul>

      <div class="teacher">
        <h3>Your amazingly skilled teacher</h3>
        <p><img src="/images/workshops/brush-lettering/barbara-photo.jpg" alt="Barbara Enright" class="barbara-headshot"></p>
        <p>Barbara's enthusiam for lettering is contagious! She is super passionate about lettering and absolutely thrilled to hear that lettering is making a huge comeback in the design scene. She wants to pass on her years of experience to fellow letterphiles to keep the craft alive. 
 </p>
        <p>Barbara studied <a href="http://kaufmann-mercantile.com/show-card-writing/">show card and ticket writing</a> in 1967 and hasn’t put down her brushes since.</p>
        <p>Barbara produced thousands of ticket cards for Myer Melbourne, Grace Bros. and other retail
        outlets in Sydney. She owned and operated a screen printing, showcard
        and ticket writing studio producing retail and promotional signage.
        She’s also seasoned teacher, having taught ticket writing and calligraphy classes both privately and through TAFE NSW.</p>
        <p>She's been a great friend and mentor, and I'm excited to share her skills with all of you too.</p>
      </div>

      <h3>Venue</h3>
      <p>These workshops are held in the stunning light filled <a href="http://littlegoldstudios.com/">Little Gold Studios</a> in Brunswick where Carla works full time on her lettering commissions. It will be a friendly and intimate setting with lots of hands on practice and cuppa breaks.</p>

      <h3>Dates &amp; booking</h3>
      <p>We are running two separate 2-day workshops, both exactly the same content, but run on different weekends: Saturday 16th &amp; Sunday 17th August 2014, and Saturday 23rd &amp; Sunday 24th August 2014. Only 6 students per workshop.</p>
      <p><strong>Cost for the weekend is $550.</strong></p>
      <div class="book">
        <p><button>Book August 16 &amp; 17</button> <span class="left">Only <strong>6</strong> tickets left!</span></p>
      </div>
      <div class="book">
        <p><button>Book August 23 &amp; 24</button> <span class="left">Only <strong>6</strong> tickets left!</span></p>
      </div>

      <h3>Craft Cubed Festival 2014</h3>
      <p>This is part of the amazing <a href="hhttp://www.craft.org.au/see/craft-cubed/">Craft Cubed Festival 2014</a> an event run by Craft Victoria,
      featuring events, workshops, talks and exhibitions from artists and crafts people all over Victoria for the month of August. Check out the <a
      href="http://www.craft.org.au/wp-content/uploads/2012/10/Craft-Cubed-2014-Program-Lo-Res.pdf">full schedule</a> to get involved.
      </p>
      <p><a href="http://www.craft.org.au/" class="image"><img src="/images/workshops/brush-lettering/craft-cubed.png" alt="Craft Cubed Logo" class="craft-cubed"></a></p>

      <h3>Terms &amp; Conditions</h3>
      <p>1. These workshops require equipment and many hours of preparation. If enrolled students cancel participation within 14 days of course commencement, 50% of the course fee will be forfeited. You have an option to transfer your spot to someone else. You'll need to verify all of their contact details with us and organise the payment to be transferred to you personally by the replacement attendee. Email carla@carlahackett.com for refunds, cancellations or to confirm the transfer details of the new attendees.</p>
      <p>2. We hope it doesn't happen, but if the workshop is unfortunately cancelled, you will be fully refunded for the cost of the workshop. The workshops must have a minimum of 4 participants before they can commence. Students will be notified via email of any cancellations.
    </div>
  </div>
</section>
