<p><a class="button sold-out"><span>&nbsp;</span><span class="sold-out">Sold Out</span></a></p>

<p>Email <a href="mailto:hello@carlahackett.com?subject={{encodeURIComponent (concat 'Waiting list for ' workshop.city ' ' workshop.date)}}">hello@carlahackett.com</a> to go on the waiting list</p>