<div class="teacher">
  <h3>Your amazing teachers</h3>
  <p><img src="{{imageUrl '/images/workshops/brush-lettering/barbara-carla-photo.jpg'}}" alt="Barbara Enright" class="barbara-headshot"></p>
  <p>Barbara studied <a href="http://kaufmann-mercantile.com/show-card-writing/">show card and ticket writing</a> in 1967 and hasn’t put down her brushes&nbsp;since. That's 47 years of lettering experience!</p>
  <p>Barbara produced thousands of ticket cards for Myer Melbourne, Grace Bros. and other retail
  outlets in Sydney. She started her own showcard, ticket writing and screen printing
  studio producing retail and promotional signage.
  She’s also a seasoned teacher, having taught ticket writing and calligraphy classes both privately and through TAFE NSW.
  <p>Barbara’s enthusiasm for lettering is contagious! She is thrilled to hear that lettering is making a huge comeback in the design scene, and wants to pass on her years of experience to fellow lettering nerds and type aficionados.</p>
  <p>Barbara and Carla met in 2013 and bonded over being left handed. After Barbara had given Carla a private lesson, she realised that Barbara's skills need to be shared. They have taught their workshops to over 100 students. Carla is a full-time letterer and uses her new skills for commercial use for signage, branding and live lettering events. In 2016, Carla and Barbara launched their online course <a href="https://learnbrushlettering.com">Learn Brush Lettering</a> to students all over the world.</p>
</div>