<div class="teacher">
  <h3>Your amazing teachers</h3>
  <p><img src="{{imageUrl '/images/workshops/brush-lettering/barbara-carla-photo.jpg'}}" alt="Barbara Enright" class="barbara-headshot"></p>
  <p>Barbara and Carla met in 2013 and bonded over a love of letters and being left-handed. After Barbara had given Carla a private lesson, she realised that Barbara's special skills need to be shared with others. Since then, the pair have taught their workshops to hundreds of students from all over Australia. In 2016, Carla and Barbara launched their online course <a href="https://learnbrushlettering.com">Learn Brush Lettering</a> to students all over the world.</p>

  About Barbara
  <p>Barbara studied <a href="http://kaufmann-mercantile.com/show-card-writing/">show card and ticket writing</a> in 1967 and hasn’t put down her brushes&nbsp;since. That's 47 years of lettering experience!</p>
  <p>Barbara produced thousands of ticket cards for Myer Melbourne, Grace Bros. and other retail
  outlets in Sydney. She started her own showcard, ticket writing and screen printing studio producing retail and promotional signage. She’s also a seasoned teacher, having taught ticket writing and calligraphy classes both privately and through TAFE NSW.</p>
  <p>Barbara’s enthusiasm for lettering is contagious! She is thrilled to hear that lettering is making a huge comeback in the design scene, and wants to pass on her years of experience to fellow lettering nerds and type aficionados.</p>

  About Carla
  <p>Carla is a full-time letterer and uses her brush skills for commercially for signage, branding and live lettering events. After studying graphic design at university and six years’ working at some of Australia’s top agencies in Sydney, Carla escaped to Berlin to soak up some international inspiration and nurture her love of lettering and artisan design.</p>
  </p>On returning from what she affectionately calls her “Bowie years” in Germany, Carla set up her studio with the aim of bringing a warm, unique, human element to a world dominated by digital fonts and design.</p>
  </p>In 2016, Carla banded together with an all-girl lettering group called <a href="http://theletterettes.com">The Letterettes</a> who pop up at events to create live lettering.</p>
</div>